<head><link rel="stylesheet" href="~/css/ruleta.css" asp-append-version="true"/></head>

<div class="wrapper">
    <div class="container">
        <canvas id="wheel"></canvas>
        <button id="spin-btn">Girar</button>
        <img class="me-4" src="~/img/Arrow.png" alt="spinner-arrow" />
    </div>

    <div id="dificultades" class="d-flex align-items-center justify-content-center">
        @foreach(Dificultades d in ViewBag.Dificultades){
            <h2 class="text-white me-3 mt-4 btn btn-primary bg-warning border border-warning" style="border-radius: 20px">@d.Nombre</h2>
        }
    </div>

    <div id="button">
        <form action='@Url.Action("Comenzar")' class="text-center">
            <input type="hidden" name="Categoria" id="categorias">
            <button type="submit" class="btn btn-primary bg-warning border border-warning" style="border-radius: 25px; width: 10vw; height: 5vh;">Jugar</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
<script src="~/js/ruleta.js"></script>
