<head><link rel="stylesheet" href="~/css/ruleta.css" asp-append-version="true"/></head>

<div class="wrapper">
    <div class="container">
        <canvas id="wheel"></canvas>
        <button id="spin-btn">Girar</button>
        <img class="me-4" src="~/img/Arrow.png" alt="spinner-arrow" />
    </div>

    <form action='@Url.Action("Comenzar", "Home", new{Categoria = 1})' class="text-center mt-5">
        <div id="button">
            <input type="hidden" name="Categoria" id="categorias">
            <h3>Ingrese su nombre de usuario</h3>
            <div class="d-flex align-items-center">
                <input type="text" name="Username">
            </div>
            <button type="submit" class="btn btn-primary bg-warning border border-warning mt-3" style="border-radius: 25px; width: 10vw; height: 5vh;">Jugar</button>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
<script src="~/js/ruleta.js"></script>
