<div class="FinFondo d-flex align-items-center text-center" style="min-height: 100vh">
    <div class="container">
        <img class="mb-5" src="~/img/Preguntados.png" height="300">
        <h1>¡Felicidades! Completaste el juego!</h1>
        <h5>Puntaje: </h5>
    </div>
</dvi>