<div class="container">
    <div class="row text-center">
        <div class="d-flex justify-content-center align-items-center">
            <h1>PREGUNTADOS</h1>
        </div>

        <div>
            <button type="button" class="btn btn-primary">Default</button>
        </div>
    </div>
</div>
