<div class="IndexFondo d-flex align-items-center text-center" style="height: 100vh">
    <div class="container">
        <img src="~/img/Logo.webp" height="200" width="200" style="border-raiud: 40%do">
        <h1 class="text-white" style="font-size: calc(2.7rem + 3vw)">PREGUNTADOS</h1>
        <form action='@Url.Action("ConfigurarJuego")'>
            <button type="submit" class="btn btn-primary bg-warning border border-warning" style="border-radius: 25px; width: 20vw; height: 8vh;"><h2>Jugar</h2></button>
        </form>
    </div>
</div>