.ruleta-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
}

canvas {
    border-radius: 50%;
}

.flecha {
    position: absolute;
    top: 50%;
    left: 69%; /* Posicionar a la derecha del contenedor */
    transform: translateY(-50%) translateX(-50%); /* Ajustar posición y rotar la imagen 180 grados */
    width: 200px; /* Ajuste de tamaño */
    height: 100px; /* Ajuste de tamaño */
    z-index: 10; /* Para que la flecha esté siempre visible encima de la ruleta */
}

.girarBtn {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Tamaño redondo */
    height: 100px; /* Tamaño redondo */
    background-color: #2196F3; /* Azul */
    color: #fff;
    border: none;
    border-radius: 50%; /* Redondear el botón */
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra del botón */
}

.girarBtn:hover {
    background-color: #1976D2;
    transform: translate(-50%, -50%) scale(1.1); /* Agrandar al pasar el mouse */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
}

#resultado-container {
    text-align: center;
    margin-top: 20px;
    position: relative;
    padding-bottom: 60px; /* Espacio para el botón Continuar y evitar superposición con el footer */
}

#resultado {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #333333;
}

#continuarBtn {
    margin-top: 20px;
    background-color: #2196F3; /* Mismo color que el botón de girar */
    color: #fff;
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    width: 120px; /* Tamaño cuadrado */
    height: 50px; /* Tamaño cuadrado */
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra del botón */
    margin-left: auto;
    margin-right: auto;
}

#continuarBtn:hover {
    background-color: #1976D2;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
}
